{% extends 'base.html' %}

{% block app_content %}
  <a href="{{ url_for('main_page') }}" class="btn btn-warning home">На главную</a>
  <a href="{{ url_for('live') }}" class="btn btn-info refresh">Создать новую жизнь</a>
  <div class="counter">{{ live.counter }}</div>
  <table class="world">
    {% for i in range(live.world|length) %}
      <tr>
        {% for j in range(live.world[i]|length) %}
          {% if live.world[i][j] == 1 %}
            <td class="cell living-cell"></td>
          {% elif live.world[i][j] == 0 and live.old_world[i][j] %}
            <td class="cell dead-cell"></td>
          {% else %}
            <td class="cell"></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>setInterval(() => window.location.reload(), 1000);</script>
{% endblock %}